
Api/.vs

Api/School.Api.Data/bin

Api/School.Api.Data/obj

Api/School.Api.Graph/bin

Api/School.Api.Graph/obj

Api/SchoolApi/bin

Api/SchoolApi/obj

Database/.vs

Database/SchoolDatabase/bin

Database/SchoolDatabase/obj

Database/SchoolDatabase/SchoolDatabase.dbmdl

Database/SchoolDatabase/SchoolDatabase.jfm

MVC/.vs

MVC/SchoolMVC/bin

MVC/SchoolMVC/obj
